{% extends "network/layout.html" %}

{% block body %}

    <h1>Login</h1>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input class="form-control my-3" autofocus type="text" name="username" placeholder="Username">
        <input class="form-control my-3" type="password" name="password" placeholder="Password">
        <input class="btn btn-primary mb-2" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}